<div class="quizz--container">
  <div class="quizz-logo">
    <img src="../../../assets/imgs/logo.png" alt="Logo BuzzFeed">
  </div>
  <div class="title">
    <h2>{{title}}</h2>
  </div>

  <div *ngIf='!finished' class="quiz-questions">
    <h3>{{questionSelected.question}}</h3>
  </div>

  <div *ngIf='!finished' class="quizz-options">
    <button
      *ngFor="let question of questionSelected.options"
      class="btn-option"
      (click)="playerChoose(question.alias)"
    >
      {{question.name}}
    </button>
  </div>

  <div *ngIf='finished' class="quizz-results">
    <p>Seu resultado é: </p>
    <h2>{{answerSelected}}</h2>

    <button class="btn-option" (click)="restart()">Reiniciar</button>
  </div>

</div>
